name: CI Pipeline

on: push

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Setup Python
       uses: actions/python-setup@v5
          with:
            python-version: "3.10"

     - name: Install dependecies
       run: pip install -r requirements.py

      
     - name: Run pytest
       run: pytest

